.col-md-4 {
    width: 33.33333333%;
}

img {
    max-width: 100%;
}

h1 {
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    /*margin: 0px 0 50px 0;*/
    letter-spacing: 4px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #232323;
}

.terminal-container {
  height: 100vh;
}

.terminal-container .terminal-container-wrapper {
  margin: 0 !important;
  font-weight: 300 !important;
  font-size: 13px;
  line-height: 22px;
}

.terminal-container .terminal-top-bar,
.terminal-container .terminal-container-main {
  width: 100vw;
  max-width: 100vw;
}

.terminal-container .terminal-container-main {
  height: calc(100vh - 30px);
  overflow: auto;
  min-height: calc(100vh - 30px);
}

p {
  color: #616265;
  font-weight: 400;
  letter-spacing: 1px;
}

/***EXPERIENCES*****/

.list-experiences {
  padding-top: 15px;
}

.list-experiences i {
    margin-right: 10px;
    color: #8e908f;/*#8d7e60;*/
    font-size: 16px;
}
.list-experiences span.date {
    font-family: 'Open sans',sans-serif;
    font-weight: 400;
    float: right;
    font-style: italic;
}
.list-experiences ul li {
    margin-left: 45px;
    line-height: 1;
}
p.slogan {
    text-align: center;
    font-family: 'Tangerine',sans-serif;
    font-weight: 400;
    font-size: 43px;
    line-height: 1;
    color: #212121;
    margin-top: 40px;
}
.signature {
    float: right;
    margin-top: 30px;
}
.box-text p.slogan .fa-quote-left {
    margin-right: 15px;
}
.box-text p.slogan .fa-quote-right {
    margin-left: 15px;
}
.box-text p.slogan i{
    font-size: 25px;
    color: #ddd;
}

/* Portfolio Items */
.activegrid ul.nav-pills li {
    margin: 0px 0 0;
    display: inline-block;
    vertical-align: top;

}
.my-gallery-animation.ng-enter,
.my-gallery-animation.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.my-gallery-animation.ng-leave.ng-leave-active,
.my-gallery-animation.ng-enter {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}

.my-gallery-animation.ng-enter.ng-enter-active,
.my-gallery-animation.ng-leave {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/*---------------*/
/***** Oscar *****/
/*---------------*/
.grid {
    position: relative;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
    border: 5px solid red;
}

.grid figure img {
    position: relative;
    display: block;
    opacity: 1;

}
.grid figure figcaption p {
    color: #fff;
    margin: 10% 0 10px 0;
    padding: 10px;
}
.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.effect-oscar img {
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
    padding: 0;
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
}


figure.effect-oscar figcaption::before,
figure.effect-oscar p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-oscar:hover figcaption {
    background-color: rgba(0,0,0,0.7);
}

figure.effect-oscar:hover img {
    opacity: 1;
}

/*Skills*/

.skills-box .meter {
    height: 6px;
    border: 1px solid #434343;
    padding: 1px;
    margin-bottom: 15px;
}
.skills-box .meter p {
    height: 4px;
    background: #252525;
    margin: 1px;
}
.skills-box .skills-progress .percval {
    float: right;
    color: #434343;
}

/* ROTATE WORDS */
.rotate-words {
  min-width: 200px; min-height: 15px; text-align: left; text-indent: 6px;
}
.rotate-words span {
  position: absolute; opacity: 0; overflow: hidden; font-weight: 800; letter-spacing: 1px;
  animation: rotateWordsSecond 18s linear infinite 0s;
}
.no-csstransforms .rotate-words {
  display: inline; text-align: center;
}
.no-csstransforms .rotate-words span {
  position: relative; opacity: 1;
}

.rotate-words span:nth-child(2) {
    animation-delay: 3s;
    color: #6b889d;
}
.rotate-words span:nth-child(3) {
    animation-delay: 6s;
    color: #6b739d;
}
.rotate-words span:nth-child(4) {
    animation-delay: 9s;
    color: #7a6b9d;
}
.rotate-words span:nth-child(5) {
    animation-delay: 12s;
    color: #8d6b9d;
}
.rotate-words span:nth-child(6) {
    animation-delay: 15s;
    color: #9b6b9d;
}
/* @-webkit-keyframes rotateInWord {
    0% { opacity: 0; -webkit-transform: translateY(-30px); }
    100% { opacity: 1; -webkit-transform: translateY(0px); }
} */
/* @-webkit-keyframes rotateOutWord {
    0% { opacity: 1; -webkit-transform: translateY(0px); }
    100% { opacity: 0; -webkit-transform: translateY(30px); }
}
@keyframes rotateInWord {
    0% { opacity: 0; transform: translateY(-30px); }
    100% { opacity: 1; transform: translateY(0px); }
}
@keyframes rotateOutWord {
    0% { opacity: 1; transform: translateY(0px); }
    100% { opacity: 0; transform: translateY(30px); }
} */
@keyframes rotateWordsSecond {
    0% { opacity: 1; transform: translateY(-15px); animation-timing-function: ease-in; height: 0px; }
    10% { opacity: 1; height: 60px; transform: translateY(0px)}
    13% { opacity: 1; height: 60px; }
    20% { opacity: 0; height: 60px; }
    100% { opacity: 0; transform: translateY(20px)}
}
